EVOVOICE_HOST=0.0.0.0
EVOVOICE_PORT=30190

EVOWIT_OPENAI_BASE_URL=http://127.0.0.1:50553/v1
EVOWIT_OPENAI_API_KEY=replace-with-local-secret
EVOWIT_OPENAI_MODEL=gpt-5.5
EVOWIT_OPENAI_TIMEOUT_SECONDS=90

DELL_TTS_BASE_URL=http://192.168.1.13:39040
DELL_TTS_MODEL=voxcpm2
DELL_TTS_VOICE=default
DELL_TTS_TIMEOUT_SECONDS=60

DELL_STT_BASE_URL=http://192.168.1.13:39050
DELL_STT_MODEL=whisper-1
DELL_STT_TIMEOUT_SECONDS=90

NEWS_SEARCH_TIMEOUT_SECONDS=12
NEWS_SEARCH_MAX_RESULTS=6
WEB_SEARCH_TIMEOUT_SECONDS=12
WEB_FETCH_TIMEOUT_SECONDS=12
WEB_FETCH_TOP_RESULTS=1
WEB_FETCH_MAX_CHARS=1200
